@import "./fonts.css";
.main {
  min-height: 100vh;
  min-width: auto;
  max-height: 900px;
  max-width: 450px;
  background-image: url("../assets/images/4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .main {
    background-image: url("../assets/images/4@2x.png");
  }
}
@media (min-resolution: 3dppx) {
  .main {
    background-image: url("../assets/images/4@3x.png");
  }
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  padding-bottom: 9em;
}

.header__buttons-close {
  width: 15.94px;
  height: 15.94px;
  background-image: url("../assets/images/Path.svg");
  background-repeat: no-repeat;
}

.header__buttons-restore {
  font-family: SFProText, sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: -0.216667px;
  text-decoration: none;
}

.section__title-first {
  font-family: SFProDisplay, sans-serif;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.section__title {
  min-height: 127px;
}
.section__details {
  width: fit-content;
  margin: 0 auto;
}

.section__details svg {
  margin-right: 5px;
}

.section__details-span_first,
.section__details-span_second,
.section__details-span_third {
  font-family: SFProText, sans-serif;
  font-size: 17px;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: -0.321111px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
  margin-left: 5px;
}

.section__offer {
  display: flex;
  width: 316px;
  height: 182px;
  margin: 0 auto;
}

.section__offer-left {
  width: 151px;
  height: 181px;
  background-image: url(../assets/images/shape-1.svg);
  background-repeat: no-repeat;
}

.section__offer-left_title {
  font-family: SFProDisplay, sans-serif;
  font-size: 18.7px;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  padding-top: 14.75px;
}

.section__offer-left_price {
  font-family: SFProDisplay, sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 13.2px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 11.25px;
}

.section__offer-left_price strong {
  font-size: 24px;
  font-weight: 500;
}

.section__offer-rectangle {
  background: #495795;
  width: 151px;
  height: 21.98px;
  margin-left: -2px;
  margin-bottom: 14px;
}

.section__offer-left_rectangle_title {
  font-family: SFProDisplay, sans-serif;
  font-weight: 700;
  font-size: 14.4px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding-top: 3px;
}

/***** Right part of offer ********/

.section__offer-right {
  width: 151px;
  height: 181px;
  background-image: url(../assets/images/shape-2.svg);
  background-repeat: no-repeat;
  margin-left: 9px;
}

.section__offer-right_title {
  font-family: SFProDisplay, sans-serif;
  font-size: 18.7px;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
  padding-top: 24.75px;
}

.section__offer-price_rounded {
  width: 38px;
  height: 38px;
  background-color: #db0000;
  border-radius: 19.2px;
  margin: -178px 111px;
}

.section__offer-left_price_title {
  font-family: SFProDisplay, sans-serif;
  font-size: 12px;
  color: #ffffff;
  line-height: 14.06px;
  text-align: center;
  padding-top: 10.75px;
}

.inactive {
  transform: scale(0.95);
  opacity: 0.5;
}

.section__button {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 54px;
  background: linear-gradient(270deg, #1987ff 0%, #19ccff 100%);
  border-radius: 30px;
  margin-top: 16px;
  margin-left: 50px;
}

.section__footer {
  width: 324px;
  height: 42px;
  margin: 0 auto;
  margin-top: 16px;
}

.section__button-title {
  font-family: SFProDisplay, sans-serif;
  font-size: 17px;
  color: #ffffff;
}

.section__footer-terms {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.section__footer-link_left {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #bdc0d0;
  float: left;
}
.section__footer-link_right {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-decoration-line: underline;
  color: #bdc0d0;
  float: right;
}

.section__indicator-item {
  width: 134px;
  height: 5px;
  background: #ffffff;
  border-radius: 100px;
  margin: 0 auto;
  margin-top: 48px;
}

.es {
  margin-left: 62.5px;
}

.fr {
  font-size: 24px;
}

@media screen and (min-width: 375px) and (max-width: 380px) {
  .main {
    background-position-y: -3rem;
  }
  .header__buttons {
    padding-bottom: 6.6em;
  }
  .section__title-first {
    font-size: 24px;
    margin-bottom: 6px;
    line-height: 28px;
  }
  .section__offer {
    margin-left: 34px;
  }
  .section__details {
    margin-bottom: 0.7em;
  }
  .section__button {
    margin-top: 8px;
    transform: scale(0.88);
  }
  .section__indicator-item {
    margin-top: 8px;
  }
  .section__title {
    min-height: 64px;
  }
}

@media screen and (min-width: 390px) {
  .header__buttons {
    padding-bottom: 9.2em;
  }
  .section__title-first {
    font-size: 35px;
  }
  .section__details {
    margin-bottom: 33.55px;
  }
  .section__footer div {
    margin-bottom: 26px;
  }
  .section__indicator-item {
    margin-top: 31px;
  }
  .section__title {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 414px) {
  .main {
    background-position-y: -3rem;
  }
  .header__buttons {
    padding-bottom: 7em;
  }
  .section__title-first {
    font-size: 26px;
    margin-bottom: 7px;
    line-height: 35px;
  }
  .section__details {
    margin-bottom: 31px;
  }
  .section__button {
    margin-left: 63px;
  }
  .section__footer {
    margin-left: 43px;
  }
  .section__footer div {
    margin-bottom: 16px;
  }
  .section__indicator-item {
    margin-top: 16px;
  }
  .section__title {
    min-height: 79px;
  }
}

/************* Iphone X *************/

@media screen and (min-height: 812px) and (max-height: 815px) {
  .main {
    background-position-y: 0;
  }
  .section__title-first {
    font-size: 33px;
    margin-bottom: 10px;
    line-height: 36px;
  }
  .header__buttons {
    padding-bottom: 8.8em;
  }
  .section__details {
    margin-bottom: 24.55px;
  }
  .section__button {
    margin-top: 16px;
    transform: scale(1);
  }
  .section__indicator-item {
    margin-top: 1.2em;
  }
  .section__footer div {
    margin-bottom: 28px;
  }
  .section__indicator-item {
    margin-left: 118px;
    margin-top: 35px;
  }
  .section__title {
    min-height: 119px;
  }
}
