@import "./fonts.css";
.main {
  min-height: 100vh;
  min-width: 320px;
  background-image: url("../assets/images/4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .main {
    background-image: url("../assets/images/4@2x.png");
  }
}
@media (min-resolution: 3dppx) {
  .main {
    background-image: url("../assets/images/4@3x.png");
  }
}

.header__buttons {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
  padding-bottom: 9em;
}

.header__buttons-close {
  width: 15.94px;
  height: 15.94px;
  background-image: url("../assets/images/Path.svg");
  background-repeat: no-repeat;
}

.header__buttons-restore {
  font-family: SFProText, sans-serif;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: -0.216667px;
  text-decoration: none;
}

.main__title {
  font-family: SFProDisplay, sans-serif;
  font-size: 36px;
  line-height: 42.19px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 375px) {
  .header__buttons {
    padding-bottom: 8.7em;
  }
  .main__title {
    font-size: 34px;
  }
}
@media screen and (min-width: 390px) {
  .header__buttons {
    padding-bottom: 9.2em;
  }
  .main__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 414px) {
  .header__buttons {
    padding-bottom: 10.1em;
  }
  .main__title {
    font-size: 38px;
  }
}
